body {
  margin: 0;
  height: 100vh;
  background-image: url("assets/tr01.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

button {
  background-color: transparent;
  padding: 0;
  margin: 40px;
  vertical-align: top;
  border: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-decoration-color: whitesmoke;
  font-family: cursive;
  color: azure;
}
table,
th,
td {
  padding: 5px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: rgb(242, 92, 5);
}
table tr:nth-child(odd) {
  background-color: rgb(18, 139, 166);
}
table th {
  background-color: rgb(206, 206, 206);
  color: black;
}

.button:active {
  background-color: transparent;
  display: none;
  color: transparent;
  border: 0cm;
}
.titleB {
  display: flex;
  justify-content: center;
  position: relative;
  top: 300px;
}
.buttons {
  text-align: center;
  position: relative;
}

.returnBtn {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.helpContainer img {
  width: 100%;
  display: flex;
}
#canvasCam {
  top: 20px;
  right: 10px;
  width: 300px;
  height: 200px;
}

#defaultCanvas0 {
  display: block;
  position: absolute;
  left: 300px;
  border: 5px solid rgb(119, 119, 119);
}

#gameover {
  position: absolute;
  width: 70%;
  top: 20%;
  left: 15%;
}

#gameover1 {
  position: absolute;
  border: 5px solid white;
  top: 45%;
  width: 30%;
  left: 30%;
}
#num {
  text-align: center;
}
#p1 {
  font-family: cursive;
  font-size: 30px;
  background-image: linear-gradient(rgb(242, 92, 5), rgb(242, 159, 5));
  text-align: center;
  padding: 3px 3px 3px 3px;
  color: rgb(255, 255, 255);
}
#timer {
  font-size: 30px;
  font-family: cursive;
  background-image: linear-gradient(rgb(18, 139, 166), rgb(170, 223, 225));
  text-align: center;
  padding: 3px 3px 3px 3px;
  color: rgb(255, 255, 255);
}
#highS {
  font-family: cursive;
  font-size: 20px;
  background-image: linear-gradient(rgb(90, 90, 90), rgb(41, 41, 41));
  text-align: center;
  padding: 3px 3px 3px 3px;
  color: rgb(255, 255, 255);
}
#myContainer {
  flex-grow: 1;
}
.left {
  width: 300px;
}
/* 
@media only screen and (max-width: 1632px) {
  
  .left {
    bottom: 5px;
  }
} */
