body {
  margin: 0;
  height: 100vh;
  background-image: url("assets/tr01.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
canvas {
  position: absolute;
  top: 20px;

  display: block;

  /* border: 100px solid rgb(255, 255, 255); */
}
h1 {
  position: absolute;
}

button {
  background-color: transparent;
  padding: 0;
  margin: 40px;
  vertical-align: top;
  border: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-decoration-color: whitesmoke;
  font-family: cursive;
  color: azure;
}
table,
th,
td {
  padding: 5px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: rgb(242, 92, 5);
}
table tr:nth-child(odd) {
  background-color: rgb(18, 139, 166);
}
table th {
  background-color: rgb(206, 206, 206);
  color: black;
}

.button:active {
  background-color: transparent;
  display: none;
  color: transparent;
  border: 0cm;
}
.titleB {
  display: flex;
  justify-content: center;
  position: relative;
  top: 300px;
}
.buttons {
  text-align: center;
  position: relative;
}

.returnBtn {
  position: absolute;
  bottom: 1%;
  right: 1%;
}
/* .triangleCanvas {
  position: relative;
} */

/* .video {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px; */
/* height: 120px;
  border-bottom: 4px solid #0063ff;
  border-radius: 3px;
} */
#canvasCam {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 280px;
  height: 180px;
  border: 5px solid white;
  border-radius: 3px;
  -webkit-transform: rotateY(180deg);
}

#defaultCanvas0 {
  position: absolute;
  right: 320px;
  border: 5px solid white;
}
#p1 {
  font-family: cursive;
  background-image: linear-gradient(rgb(242, 92, 5), rgb(242, 159, 5));
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 5px solid white;
  color: rgb(255, 255, 255);
}
#gameover {
  position: absolute;
  width: 70%;
  top: 20%;
  left: 15%;
}

#gameover1 {
  position: absolute;
  border: 5px solid white;
  top: 45%;
  width: 30%;
  left: 30%;
}
#num {
  text-align: center;
}
#timer {
  font-family: cursive;
  background-image: linear-gradient(rgb(18, 139, 166), rgb(170, 223, 225));
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 5px solid white;
  color: rgb(255, 255, 255);
}
.left {
  position: fixed;
  left: 20px;
  width: 300px;
}

.left img {
  width: 100%;
}
@media only screen and (max-width: 1632px) {
  /* For mobile phones: */
  .left {
    bottom: 20px;
  }
}
